[workspace]
members = [
    "crates/theater",
    "crates/theater-cli",
    "crates/theater-server",
    "crates/theater-server-cli",
    "crates/theater-client",
    "crates/theater-handler-environment",
    "crates/theater-handler-filesystem",
    "crates/theater-handler-http-client",
    "crates/theater-handler-http-framework",
    "crates/theater-handler-message-server",
    "crates/theater-handler-process",
    "crates/theater-handler-random",
    "crates/theater-handler-runtime",
    "crates/theater-handler-store",
    "crates/theater-handler-supervisor",
    "crates/theater-handler-timing", "crates/simple-theater",
]
resolver = "2"

[workspace.package]
version = "0.2.1"
edition = "2021"
authors = ["Colin Rozzi <colinrozzi+theater@gmail.com>"]
license = "Apache-2.0"
repository = "https://github.com/colinrozzi/theater"
homepage = "https://colinrozzi.github.io/theater"
keywords = ["wasm", "actor", "ai", "agents", "webassembly"]
categories = ["wasm", "concurrency", "development-tools"]
rust-version = "1.81.0"

[workspace.dependencies]
anyhow = "1.0"
tokio = { version = "1.0", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tracing = "0.1"
uuid = { version = "1.6", features = ["v4", "serde"] }

theater = { version = "0.2.1", path = "crates/theater" }
theater-client = { version = "0.2.1", path = "crates/theater-client" }
theater-server = { version = "0.2.1", path = "crates/theater-server" }
