[package]
name = "supervisor-replay-test-actor"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
pack-guest = { path = "../../../pack/crates/pack-guest" }

[profile.release]
opt-level = "s"
lto = true
